html, * {
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Charmonman', cursive;
  text-align: center;
  font-size: 2.3rem;
  margin: 1rem;
}

.axis {
  font: 10px sans-serif;
}

.axis path {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.year {
  font-size: 0.8rem;
}

#container {
  display: flex;
  flex-direction: column;
}

#center {
  text-align: center;
}

#right {
  background: blue;
  min-height: 200px;
}

@media (min-width: 768px) {
  #container {
    flex-direction: row;
    flex: 1;
  }

  #left {
    order: -1;
  }

  #center {
    flex: 1;
  }

  #left, #right {
    /* 12em is the width of the columns */
    flex: 0 0 300px;
  }
}
