html, body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#left {
  height: 700px;
}

#center {
  text-align: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.header {
  max-height: 95px;
}

#plays {
  flex: 1;
  overflow: auto;
}

#right {
  /*min-height: 200px;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media (min-width: 930px) {
  #container {
    flex-direction: row;
    flex: 1;
  }

  #left {
    order: -1;
    min-height: 100%;
    height: auto;
  }

  #center {
    flex: 1;
  }

  #left {
    flex: 0 0 260px;
  }

  #right {
    flex: 0 0 400px;
  }
}

h1 {
  font-size: 2.3rem;
  margin: 1rem;
  white-space: nowrap;
}

h1, h2, h3 {
  font-family: 'Charmonman', cursive;
  text-align: center;
  margin-bottom: 0;
}

[class^=subtitle] {
  color: #999;
  display: block;
  font-family: 'Charmonman', cursive;
  margin: 0px;
}

.subtitle-left {
  left: -37px;
  position: relative;
  top: -20px;
}

.subtitle-right {
  left: 105px;
  position: relative;
  top: -51px;
}

.axis {
  font-size: 0.7rem;
}

.axis path {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis-label, .axis-direction {
  fill: #999;
}

.axis-label {
  font-size: 0.8rem;
}

.axis-direction {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
}

#timeline {
  height: 100%;
}

#timeline svg {
  display: block;
  margin: auto;
}

#timeline .year {
  font-size: 0.8rem;
}

#timeline .title, .legend-item {
  font-size: 0.9rem;
}

#plays div.tooltip {
  background: #EEE;
  border-radius: 5px;
  display: none;
  font-size: 0.9rem;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 300px;
}

span.title {
  display: block;
}

span.avgVsSum {
  font-size: 0.8rem;
}

.male {
  color: #66C4BF;
  fill: #66C4BF;
}

.female {
  color: #DD5478;
  fill: #DD5478;
}

#characters p {
  font-size: 0.8rem;
  margin: 0.5rem;
}

#playInfo {
  text-align: center;
}

.sources {
  font-size: 0.7rem;
  color: #999;
}

.sources a {
  text-decoration: none;
  color: #999;
}

.sources a:hover, .sources a:focus {
  text-decoration: underline;
}
