html, * {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

body {
  background-color: #F1F3F3
}

h1 {
  font-family: 'Charmonman', cursive;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.axis {
  font: 10px sans-serif;
}

.axis path {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.year {
  font-size: 0.8rem;
}
